    .crop-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    
    .add-crop {
        display: block;
    }
    
    .add-crop input {
        margin: 15px;
        width: 300px;
        height: 40px;
        border: none;
        background-color: #f5f2f2;
        border-radius: 5px;
    }
    .add-crop textarea{
        margin: 15px;
        width: 310px;
        height: 40px;
        background-color: #f5f2f2;
        border-radius: 5px;
    }
.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #4caf50;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    
    .add-crop select {
        margin: 15px;
        width: 315px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 3px;
    }
    
    .add-crop button {
        color: white;
        background-color: darkcyan;
        width: 90%;
        height: 30px;
        border: none;
        margin: 20px;
        border-radius: 4px;
    }
    
    .todo-container {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        justify-content: center;
        align-items: center;
    }
    
    .items-producer{
        margin: 10px;
        padding: 15px;
        background-color: #ece9e9;
        
        width: fit-content; 
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .delete-button {
        margin: 5px;
        background-color: red;
        border: none;
        height: 25px;
        color: white;
        border-radius: 4px;
        width: 42%;
    }
    .update-button {
        margin: 5px;
        background-color:rgb(88, 86, 86);
        border: none;
        height: 25px;
        color: white;
        border-radius: 4px;
        width: 42%;
    }
    
    .todo-list {
        margin: 60px;
    }
    .item-image
    {
      width: 270px;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  background: #f0f0f0;
  border-radius: 5px;
    }
    .file-upload-wrapper {
  margin: 10px 0;
}

.upload-label {
 margin: 15px;
        height: 40px;
        border: none;
        background-color: #f5f2f2;
        border-radius: 5px;
        padding: 10px;
}

.upload-label input[type="file"] {
  display: none;
}

.upload-status {
  color: green;
  margin:15px;
}

.preview-media {
  width: 300px;
  margin-top: 10px;
  border:none;
  border-radius: 8px;
  max-height: 200px;
  margin-left: 15px;
}
